.nomore{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nomore p{
    margin: 0.4rem 0;
}

button{
    background-color: rgb(246, 66, 96);
    border: none;
    padding: 0.4rem;
    border-radius: 0.6rem;
    width: 70%;
    margin-top: 1rem;
    color: #fff;
    text-transform: capitalize;
}